<?php

return [
    'api' => [
        'auth' => [
            'type' => '', // user, app, oauth
            'app' => [
                'consumerKey' => '',
                'consumerSecret' => '',
            ],
            'oauth' => [
                'flow' => [
                    'callback' => '',
                    'oauthToken' => '',
                    'oauthTokenSecret' => '',
                    'oauthVerifier' => '',
                ],
                'access' => [
                    'oauthToken' => '',
                    'oauthTokenSecret' => '',
                ],
            ],
            'user' => [
                'personalAccessToken' => '',
            ],
        ],
        'settings' => [
            'debug' => true,
            'handleResponse' => true,
            'userAgent' => '',
        ],
        'username' =>'',
    ],
    'data' => [
    ],
];
